.TextArea {
    padding: 60px 0;
}

.TextArea h2 {
    font-size: 30px;
    margin-bottom: 16px;
}

.TextArea > div {
    max-width: 900px;
    width: 80%;
    margin: auto;
}

.TextArea p {
    line-height: 32px;
    font-size: 18px;
    text-align: left;
}