.Cloud {
    position: absolute;
    background-size: cover;
    background-image: url(../../../assets/images/Cloud.png);
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: hover-animation;
    pointer-events: none;
}

.AnimationDelay {
    animation-delay: 0.5s;
}

@keyframes hover-animation {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(8px);
    }
}